{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_outside">
        <div class="card">
            <div class="container">
                <h2>About author</h2>
                <p align="center">
                    <img src="{% static 'images/author.png'%}" alt="My photo" height="200">
                </p>
                <p>Hello, thank you for using my application !</p>
                <p>My name is Minh-Quan NGUYEN (<a href="mailto:nguyen.ensma@gmail.com">nguyen.ensma@gmail.com</a>).</p>
                <p>My passions are crafting and developing useful applications & things for the world.</p>
                <p>If you have any feedback or suggestion, feel free to write to me.</p>
                <p>If you appreciate my works, you could buy me a coffee via the belows</p>
                <p align="center">
                    <a href="https://ko-fi.com/nguyen31">
                        <img src="{% static 'images/ko-fi.png'%}" alt="Ko-fi link" height="42">
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://www.buymeacoffee.com/nguyen31">
                    <img src="{% static 'images/buymeacoffee.png'%}" alt="Buy me a coffee link" height="42">
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}