{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_outside">
        <div class="card">
            <div class="container">
                <h2>About</h2>
                <p>Hello, thank you for using my application !</p>
                <p>My name is Minh-Quan NGUYEN (<a href="mailto:nguyen.ensma@gmail.com">nguyen.ensma@gmail.com</a>).</p>
                <p>My passion is developing useful applications for the world.</p>
                <p>If you appreciate my works, you could buy me a coffee :
                <a href="https://www.buymeacoffee.com/nguyen31" download>
                    <img src="{% static 'images/buymeacoffee.png'%}" alt="Buy me a coffee" style="width:42px;height:42px;">
                </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}