{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_outside">
        <div class="card">
            <div class="container">
                <h2>About</h2>
                <p>Hello, my name is Quan (<a href="mailto:nguyen.ensma@gmail.com">nguyen.ensma@gmail.com</a>).</p>
                <p>My passion is developing useful applications for human beings!</p>
                <p>If you appreciate my works, you could buy me a coffee via:</p>
            </div>
        </div>
    </div>
{% endblock %}