{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_outside">
        <div class="card">
            <div class="container">
                <h2>Photo creation session</h2>
                <p>Comming soon ...</p>
                <input type="range" min="1" max="100" value="50" id="horizontal" name="horizontal">
                <br>
                <input type="range" min="1" max="100" value="50" id="vertical">
                <br>
                <input type="range" min="1" max="100" value="50" id="zoom">
            </div>
        </div>
    </div>
{% endblock %}